.nav {
  background-color: $color-primary;
  display: flex;
  align-items: center;
  height: 4rem;

  &__inner {
    display: flex;
    gap: 2rem;
    list-style-type: none;
  }

  &__link {
    text-decoration: none;
  }

  &__form {
    margin-left: 50%;
  }
}
